## OS
# Mac OS
.[Dd][Ss]_[Ss]store

## C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## ARM
# Executables
*.hex
*.bin
*.map

## MBed
# Modules
yotta_modules
yotta_targets
build
.yotta.json
