## OS
# Mac OS
.[Dd][Ss]_[Ss]store

## C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## ARM
# Executables
*.hex
*.bin
*.map

## Platformio
.pioenvs
.piolibdeps
CMakeListsPrivate.txt

## Doxygen
html

## Sublime
*.sublime-workspace
*.sublime-project

## VS Code
.vscode

## CLion
.idea

## CMake
.cmake
.make
cmake-build-debug

